In [7]:
import pandas as pd
import statistics
import numpy as np

# Declaration
# Descriptive Statistic : Max, Min, Range, Mean, Mode, Var, Std for numeric Column
data = pd.read_csv("Global_Space_Exploration_Dataset.csv")

target_col = ['Budget (in Billion $)','Success Rate (%)','Duration (in Days)']

for dt in target_col:
    # Convert to int
    data[dt] = pd.to_numeric(data[dt], errors='coerce')
    
    # Remove NaN
    data = data.dropna(subset=[dt])

    max_val = data[dt].max()
    min_val = data[dt].min()
    range_val = max_val - min_val
    mean = round(data[dt].mean(),2)
    mode = round(statistics.mode(data[dt]),2)
    var = round(np.nanvar(data[dt],ddof=1),2)
    std = round(var ** 0.5,2)

    print(f"Max of {dt.title()} : {max_val}")
    print(f"Min of {dt.title()} : {min_val}")
    print(f"Range of {dt.title()} : {range_val}")
    print(f"Mean of {dt.title()} : {mean}")
    print(f"Mode of {dt.title()} : {mode}")
    print(f"Variance of {dt.title()} : {var}")
    print(f"Standard Deviance of {dt.title()} : {std}\n")

Max of Budget (In Billion $) : 49.97
Min of Budget (In Billion $) : 0.53
Range of Budget (In Billion $) : 49.44
Mean of Budget (In Billion $) : 25.43
Mode of Budget (In Billion $) : 11.86
Variance of Budget (In Billion $) : 199.05
Standard Deviance of Budget (In Billion $) : 14.11

Max of Success Rate (%) : 100
Min of Success Rate (%) : 50
Range of Success Rate (%) : 50
Mean of Success Rate (%) : 74.98
Mode of Success Rate (%) : 60
Variance of Success Rate (%) : 223.36
Standard Deviance of Success Rate (%) : 14.95

Max of Duration (In Days) : 365
Min of Duration (In Days) : 1
Range of Duration (In Days) : 364
Mean of Duration (In Days) : 181.48
Mode of Duration (In Days) : 307
Variance of Duration (In Days) : 11021.6
Standard Deviance of Duration (In Days) : 104.98

In [11]:
import pandas as pd
import statistics
import numpy as np

# Display settings
pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.width', 0)

# Declaration
# Descriptive Statistic : Total Mission, Spending, Average Success Rate, and Average Duration Days per Sattelite Type For Each Country
data = pd.read_csv("Global_Space_Exploration_Dataset.csv")

# Group by Country and Satellite Type
grouped = data.groupby(['Country', 'Satellite Type'])

summary = grouped.agg(
    Total_Missions=('Mission Name', 'count'),
    Total_Spending=('Budget (in Billion $)', 'sum'),
    Average_Success_Rate=('Success Rate (%)', 'mean'),
    Average_Duration=('Duration (in Days)', 'mean')
).reset_index()

print(summary.round(2))

    Country Satellite Type  Total_Missions  Total_Spending  Average_Success_Rate  Average_Duration
0     China  Communication              74         1944.63                 74.39            180.14
1     China     Navigation              63         1535.74                 73.33            187.32
2     China       Research              63         1600.21                 76.35            189.33
3     China            Spy              58         1502.53                 74.74            187.34
4     China        Weather              64         1678.48                 76.20            180.48
5    France  Communication              46         1056.26                 75.80            190.04
6    France     Navigation              59         1607.39                 74.86            205.78
7    France       Research              60         1837.91                 76.58            148.42
8    France            Spy              76         1737.35                 75.38            185.26
9    France        Weather              70         1769.52                 74.87            182.59
10  Germany  Communication              44         1099.91                 71.82            180.34
11  Germany     Navigation              58         1492.28                 75.66            201.09
12  Germany       Research              49         1257.58                 78.98            180.27
13  Germany            Spy              42          916.86                 76.57            193.90
14  Germany        Weather              57         1265.17                 77.68            177.25
15    India  Communication              53         1366.96                 77.34            178.66
16    India     Navigation              55         1346.80                 75.67            193.07
17    India       Research              68         1875.53                 74.99            168.00
18    India            Spy              63         1817.47                 75.41            173.87
19    India        Weather              55         1444.91                 75.71            173.51
20   Israel  Communication              57         1432.07                 75.95            170.53
21   Israel     Navigation              68         1872.92                 77.32            194.12
22   Israel       Research              61         1509.16                 71.52            190.34
23   Israel            Spy              63         1542.29                 71.35            169.90
24   Israel        Weather              64         1608.14                 74.23            188.78
25    Japan  Communication              66         1642.03                 74.48            182.15
26    Japan     Navigation              49         1385.05                 73.94            166.16
27    Japan       Research              61         1603.91                 74.57            196.48
28    Japan            Spy              59         1472.51                 75.00            190.10
29    Japan        Weather              55         1197.21                 74.15            172.24
30   Russia  Communication              59         1389.18                 72.56            184.58
31   Russia     Navigation              47         1250.23                 75.02            175.38
32   Russia       Research              82         2096.97                 78.09            184.79
33   Russia            Spy              51         1489.12                 72.53            162.96
34   Russia        Weather              50         1198.17                 76.78            208.46
35      UAE  Communication              66         1528.52                 74.58            164.94
36      UAE     Navigation              56         1309.28                 71.79            176.80
37      UAE       Research              58         1647.53                 75.79            179.09
38      UAE            Spy              59         1287.41                 73.90            185.46
39      UAE        Weather              66         1723.36                 77.21            195.33
40       UK  Communication              65         1606.73                 73.23            204.85
41       UK     Navigation              45         1155.11                 78.13            200.82
42       UK       Research              70         1678.41                 78.01            179.79
43       UK            Spy              69         1659.49                 75.75            160.59
44       UK        Weather              73         1927.99                 71.23            172.59
45      USA  Communication              58         1342.10                 77.28            181.86
46      USA     Navigation              61         1507.27                 74.57            169.16
47      USA       Research              77         2066.98                 74.14            164.12
48      USA            Spy              45         1263.97                 74.13            191.36
49      USA        Weather              63         1740.15                 70.37            170.19

In [21]:
import pandas as pd
import statistics
import numpy as np

# Display settings
pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.width', 0)

# Declaration
# Descriptive Statistic : Total Mission, Spending, Average Success Rate, Top Used Country, and Average Duration Days per Type Of Tech Used
data = pd.read_csv("Global_Space_Exploration_Dataset.csv")

# Group by Tech Used
grouped = data.groupby(['Technology Used'])

# General Summary
summary = grouped.agg(
    Total_Missions=('Mission Name', 'count'),
    Total_Spending=('Budget (in Billion $)', 'sum'),
    Average_Success_Rate=('Success Rate (%)', 'mean'),
    Average_Duration=('Duration (in Days)', 'mean')
).reset_index()

# Summary Top Used Country for Each Tech
most_common_country = (
    data.groupby(['Technology Used', 'Country'])['Mission Name'].count().reset_index()
    .sort_values(['Technology Used', 'Mission Name'], ascending=[True, False])
    .drop_duplicates(subset='Technology Used')
)
most_common_country['Top_Used_Country'] = (
    most_common_country['Country'] + ' (' + most_common_country['Mission Name'].astype(str) + ')'
)
most_common_country = most_common_country[['Technology Used', 'Top_Used_Country']]

# Merge with summary
summary = summary.merge(most_common_country, on='Technology Used')
summary_sorted = summary.sort_values(by='Total_Missions', ascending=False)

print(summary_sorted.round(2))

      Technology Used  Total_Missions  Total_Spending  Average_Success_Rate  Average_Duration Top_Used_Country
4  Traditional Rocket             650        16622.99                 75.12            175.99         UAE (79)
0       AI Navigation             609        15948.88                 74.36            187.03      Israel (68)
3    Solar Propulsion             598        15191.97                 74.63            185.66      Israel (74)
2     Reusable Rocket             581        14795.32                 76.23            181.07       India (67)
1  Nuclear Propulsion             562        13727.59                 74.60            177.79         USA (69)