In [7]:
import pandas as pd
import statistics
import numpy as np

# Declaration
# Descriptive Statistic : Max, Min, Range, Mean, Mode, Var, Std for numeric Column
data = pd.read_csv("Global_Space_Exploration_Dataset.csv")

target_col = ['Budget (in Billion $)','Success Rate (%)','Duration (in Days)']

for dt in target_col:
    # Convert to int
    data[dt] = pd.to_numeric(data[dt], errors='coerce')
    
    # Remove NaN
    data = data.dropna(subset=[dt])

    max_val = data[dt].max()
    min_val = data[dt].min()
    range_val = max_val - min_val
    mean = round(data[dt].mean(),2)
    mode = round(statistics.mode(data[dt]),2)
    var = round(np.nanvar(data[dt],ddof=1),2)
    std = round(var ** 0.5,2)

    print(f"Max of {dt.title()} : {max_val}")
    print(f"Min of {dt.title()} : {min_val}")
    print(f"Range of {dt.title()} : {range_val}")
    print(f"Mean of {dt.title()} : {mean}")
    print(f"Mode of {dt.title()} : {mode}")
    print(f"Variance of {dt.title()} : {var}")
    print(f"Standard Deviance of {dt.title()} : {std}\n")

Max of Budget (In Billion $) : 49.97
Min of Budget (In Billion $) : 0.53
Range of Budget (In Billion $) : 49.44
Mean of Budget (In Billion $) : 25.43
Mode of Budget (In Billion $) : 11.86
Variance of Budget (In Billion $) : 199.05
Standard Deviance of Budget (In Billion $) : 14.11

Max of Success Rate (%) : 100
Min of Success Rate (%) : 50
Range of Success Rate (%) : 50
Mean of Success Rate (%) : 74.98
Mode of Success Rate (%) : 60
Variance of Success Rate (%) : 223.36
Standard Deviance of Success Rate (%) : 14.95

Max of Duration (In Days) : 365
Min of Duration (In Days) : 1
Range of Duration (In Days) : 364
Mean of Duration (In Days) : 181.48
Mode of Duration (In Days) : 307
Variance of Duration (In Days) : 11021.6
Standard Deviance of Duration (In Days) : 104.98

In [11]:
import pandas as pd
import statistics
import numpy as np

# Display settings
pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.width', 0)

# Declaration
# Descriptive Statistic : Total Mission, Spending, Average Success Rate, and Average Duration Days per Sattelite Type For Each Country
data = pd.read_csv("Global_Space_Exploration_Dataset.csv")

# Group by Country and Satellite Type
grouped = data.groupby(['Country', 'Satellite Type'])

summary = grouped.agg(
    Total_Missions=('Mission Name', 'count'),
    Total_Spending=('Budget (in Billion $)', 'sum'),
    Average_Success_Rate=('Success Rate (%)', 'mean'),
    Average_Duration=('Duration (in Days)', 'mean')
).reset_index()

print(summary.round(2))

    Country Satellite Type  Total_Missions  Total_Spending  Average_Success_Rate  Average_Duration
0     China  Communication              74         1944.63                 74.39            180.14
1     China     Navigation              63         1535.74                 73.33            187.32
2     China       Research              63         1600.21                 76.35            189.33
3     China            Spy              58         1502.53                 74.74            187.34
4     China        Weather              64         1678.48                 76.20            180.48
5    France  Communication              46         1056.26                 75.80            190.04
6    France     Navigation              59         1607.39                 74.86            205.78
7    France       Research              60         1837.91                 76.58            148.42
8    France            Spy              76         1737.35                 75.38            185.26
9    France        Weather              70         1769.52                 74.87            182.59
10  Germany  Communication              44         1099.91                 71.82            180.34
11  Germany     Navigation              58         1492.28                 75.66            201.09
12  Germany       Research              49         1257.58                 78.98            180.27
13  Germany            Spy              42          916.86                 76.57            193.90
14  Germany        Weather              57         1265.17                 77.68            177.25
15    India  Communication              53         1366.96                 77.34            178.66
16    India     Navigation              55         1346.80                 75.67            193.07
17    India       Research              68         1875.53                 74.99            168.00
18    India            Spy              63         1817.47                 75.41            173.87
19    India        Weather              55         1444.91                 75.71            173.51
20   Israel  Communication              57         1432.07                 75.95            170.53
21   Israel     Navigation              68         1872.92                 77.32            194.12
22   Israel       Research              61         1509.16                 71.52            190.34
23   Israel            Spy              63         1542.29                 71.35            169.90
24   Israel        Weather              64         1608.14                 74.23            188.78
25    Japan  Communication              66         1642.03                 74.48            182.15
26    Japan     Navigation              49         1385.05                 73.94            166.16
27    Japan       Research              61         1603.91                 74.57            196.48
28    Japan            Spy              59         1472.51                 75.00            190.10
29    Japan        Weather              55         1197.21                 74.15            172.24
30   Russia  Communication              59         1389.18                 72.56            184.58
31   Russia     Navigation              47         1250.23                 75.02            175.38
32   Russia       Research              82         2096.97                 78.09            184.79
33   Russia            Spy              51         1489.12                 72.53            162.96
34   Russia        Weather              50         1198.17                 76.78            208.46
35      UAE  Communication              66         1528.52                 74.58            164.94
36      UAE     Navigation              56         1309.28                 71.79            176.80
37      UAE       Research              58         1647.53                 75.79            179.09
38      UAE            Spy              59         1287.41                 73.90            185.46
39      UAE        Weather              66         1723.36                 77.21            195.33
40       UK  Communication              65         1606.73                 73.23            204.85
41       UK     Navigation              45         1155.11                 78.13            200.82
42       UK       Research              70         1678.41                 78.01            179.79
43       UK            Spy              69         1659.49                 75.75            160.59
44       UK        Weather              73         1927.99                 71.23            172.59
45      USA  Communication              58         1342.10                 77.28            181.86
46      USA     Navigation              61         1507.27                 74.57            169.16
47      USA       Research              77         2066.98                 74.14            164.12
48      USA            Spy              45         1263.97                 74.13            191.36
49      USA        Weather              63         1740.15                 70.37            170.19

In [21]:
import pandas as pd
import statistics
import numpy as np

# Display settings
pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.width', 0)

# Declaration
# Descriptive Statistic : Total Mission, Spending, Average Success Rate, Top Used Country, and Average Duration Days per Type Of Tech Used
data = pd.read_csv("Global_Space_Exploration_Dataset.csv")

# Group by Tech Used
grouped = data.groupby(['Technology Used'])

# General Summary
summary = grouped.agg(
    Total_Missions=('Mission Name', 'count'),
    Total_Spending=('Budget (in Billion $)', 'sum'),
    Average_Success_Rate=('Success Rate (%)', 'mean'),
    Average_Duration=('Duration (in Days)', 'mean')
).reset_index()

# Summary Top Used Country for Each Tech
most_common_country = (
    data.groupby(['Technology Used', 'Country'])['Mission Name'].count().reset_index()
    .sort_values(['Technology Used', 'Mission Name'], ascending=[True, False])
    .drop_duplicates(subset='Technology Used')
)
most_common_country['Top_Used_Country'] = (
    most_common_country['Country'] + ' (' + most_common_country['Mission Name'].astype(str) + ')'
)
most_common_country = most_common_country[['Technology Used', 'Top_Used_Country']]

# Merge with summary
summary = summary.merge(most_common_country, on='Technology Used')
summary_sorted = summary.sort_values(by='Total_Missions', ascending=False)

print(summary_sorted.round(2))

      Technology Used  Total_Missions  Total_Spending  Average_Success_Rate  Average_Duration Top_Used_Country
4  Traditional Rocket             650        16622.99                 75.12            175.99         UAE (79)
0       AI Navigation             609        15948.88                 74.36            187.03      Israel (68)
3    Solar Propulsion             598        15191.97                 74.63            185.66      Israel (74)
2     Reusable Rocket             581        14795.32                 76.23            181.07       India (67)
1  Nuclear Propulsion             562        13727.59                 74.60            177.79         USA (69)

In [7]:
import pandas as pd
import statistics
import numpy as np

# Display settings
pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.width', 0)

# Declaration
# Descriptive Statistic : Total Mission, Spending, Average Success Rate, Top Used Country, and Average Duration Days per Type Of Tech Used and It's Environmental Impact
data = pd.read_csv("Global_Space_Exploration_Dataset.csv")

# Create combined field
data["Technology Used - Environmental Impact"] = data["Technology Used"] + " - " + data["Environmental Impact"]

# Group by Tech Used
grouped = data.groupby(['Technology Used - Environmental Impact'])

# General Summary
summary = grouped.agg(
    Total_Missions=('Mission Name', 'count'),
    Total_Spending=('Budget (in Billion $)', 'sum'),
    Average_Success_Rate=('Success Rate (%)', 'mean'),
    Average_Duration=('Duration (in Days)', 'mean')
).reset_index()

# Summary Top Used Country for Each Tech
most_common_country = (
    data.groupby(['Technology Used - Environmental Impact', 'Country'])['Mission Name']
    .count()
    .reset_index()
    .sort_values(['Technology Used - Environmental Impact', 'Mission Name'], ascending=[True, False])
    .drop_duplicates(subset='Technology Used - Environmental Impact')
)

most_common_country['Top_Used_Country'] = (
    most_common_country['Country'] + ' (' + most_common_country['Mission Name'].astype(str) + ')'
)

most_common_country = most_common_country[['Technology Used - Environmental Impact', 'Top_Used_Country']]

# Merge with summary
summary = summary.merge(most_common_country, on='Technology Used - Environmental Impact')
summary_sorted = summary.sort_values(by='Technology Used - Environmental Impact', ascending=False)

print(summary_sorted.round(2))

   Technology Used - Environmental Impact  Total_Missions  Total_Spending  Average_Success_Rate  Average_Duration Top_Used_Country
14            Traditional Rocket - Medium             229         5828.52                 75.64            182.52       China (29)
13               Traditional Rocket - Low             207         5326.94                 74.56            164.65         UAE (33)
12              Traditional Rocket - High             214         5467.53                 75.12            179.99          UK (27)
11              Solar Propulsion - Medium             208         5321.34                 74.16            190.27      Israel (29)
10                 Solar Propulsion - Low             212         5083.89                 75.83            181.32         UAE (27)
9                 Solar Propulsion - High             178         4786.74                 73.76            185.46       China (25)
8                Reusable Rocket - Medium             207         5421.43                 76.65            178.32       India (27)
7                   Reusable Rocket - Low             192         5064.58                 77.45            174.73       China (27)
6                  Reusable Rocket - High             182         4309.31                 74.45            190.90          UK (24)
5             Nuclear Propulsion - Medium             181         4462.02                 74.15            173.10      Russia (22)
4                Nuclear Propulsion - Low             185         4592.76                 73.77            174.20         USA (27)
3               Nuclear Propulsion - High             196         4672.81                 75.79            185.52      France (26)
2                  AI Navigation - Medium             207         5465.20                 75.87            177.33          UK (27)
1                     AI Navigation - Low             214         5352.28                 73.91            183.48         USA (24)
0                    AI Navigation - High             188         5131.40                 73.20            201.76      Israel (25)

In [9]:
import pandas as pd
import statistics
import numpy as np

# Display settings
pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.width', 0)

# Declaration
# Descriptive Statistic : Total Mission, Spending, Average Success Rate, and Average Duration Days per Used Rocket Type For Each Country
data = pd.read_csv("Global_Space_Exploration_Dataset.csv")

# Group by Country and Technology Used
grouped = data.groupby(['Country', 'Technology Used'])

summary = grouped.agg(
    Total_Missions=('Mission Name', 'count'),
    Total_Spending=('Budget (in Billion $)', 'sum'),
    Average_Success_Rate=('Success Rate (%)', 'mean'),
    Average_Duration=('Duration (in Days)', 'mean')
).reset_index()

summary = summary[summary['Technology Used'].str.contains("Rocket", case=False, na=False)]
summary = summary.sort_values(by="Total_Missions", ascending=False)

print(summary.round(2))

    Country     Technology Used  Total_Missions  Total_Spending  Average_Success_Rate  Average_Duration
39      UAE  Traditional Rocket              79         2023.90                 75.57            175.91
44       UK  Traditional Rocket              77         1835.92                 73.48            166.29
4     China  Traditional Rocket              70         1883.53                 70.31            191.91
24   Israel  Traditional Rocket              69         1732.95                 75.87            166.06
9    France  Traditional Rocket              68         1717.67                 75.76            187.24
17    India     Reusable Rocket              67         1743.05                 77.01            178.97
42       UK     Reusable Rocket              66         1495.33                 76.97            182.77
29    Japan  Traditional Rocket              64         1528.28                 74.31            158.75
27    Japan     Reusable Rocket              62         1681.09                 75.66            196.42
2     China     Reusable Rocket              61         1591.20                 76.33            185.84
49      USA  Traditional Rocket              59         1578.85                 76.92            181.39
47      USA     Reusable Rocket              57         1650.35                 74.60            172.74
32   Russia     Reusable Rocket              56         1412.33                 76.88            180.82
14  Germany  Traditional Rocket              56         1429.74                 79.27            162.20
7    France     Reusable Rocket              56         1507.12                 74.30            173.59
34   Russia  Traditional Rocket              55         1441.77                 75.04            211.75
37      UAE     Reusable Rocket              54         1276.80                 76.02            178.52
19    India  Traditional Rocket              53         1450.38                 76.11            160.00
12  Germany     Reusable Rocket              52         1269.29                 77.77            181.38
22   Israel     Reusable Rocket              50         1168.76                 76.66            177.42

In [13]:
import pandas as pd
import statistics
import numpy as np

# Display settings
pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.width', 0)

# Declaration
# Descriptive Statistic : Total Mission, Spending, Average Success Rate, and Average Duration Days per Propulsion Type in Each Rocket For Each Country
data = pd.read_csv("Global_Space_Exploration_Dataset.csv")

# Group by Country and Technology Used
grouped = data.groupby(['Country', 'Technology Used'])

summary = grouped.agg(
    Total_Missions=('Mission Name', 'count'),
    Total_Spending=('Budget (in Billion $)', 'sum'),
    Average_Success_Rate=('Success Rate (%)', 'mean'),
    Average_Duration=('Duration (in Days)', 'mean')
).reset_index()

summary = summary[summary['Technology Used'].str.contains("Propulsion", case=False, na=False)]
summary = summary.sort_values(by="Total_Missions", ascending=False)

print(summary.round(2))

    Country     Technology Used  Total_Missions  Total_Spending  Average_Success_Rate  Average_Duration
23   Israel    Solar Propulsion              74         1800.85                 72.49            186.20
46      USA  Nuclear Propulsion              69         1587.03                 72.49            184.45
3     China    Solar Propulsion              68         1621.26                 77.00            175.69
6    France  Nuclear Propulsion              65         1535.43                 77.83            172.31
48      USA    Solar Propulsion              62         1610.55                 74.23            161.98
43       UK    Solar Propulsion              61         1723.85                 74.57            190.28
18    India    Solar Propulsion              61         1644.47                 75.18            175.31
31   Russia  Nuclear Propulsion              60         1461.80                 72.58            149.43
8    France    Solar Propulsion              60         1696.07                 76.43            190.72
33   Russia    Solar Propulsion              59         1496.79                 73.05            187.00
38      UAE    Solar Propulsion              58         1157.68                 73.86            183.17
1     China  Nuclear Propulsion              58         1574.96                 76.07            167.09
26    Japan  Nuclear Propulsion              56         1320.27                 72.30            175.39
21   Israel  Nuclear Propulsion              52         1277.78                 73.25            191.21
16    India  Nuclear Propulsion              52         1510.06                 74.67            203.71
36      UAE  Nuclear Propulsion              51         1163.99                 72.29            162.88
41       UK  Nuclear Propulsion              51         1293.54                 78.51            187.49
28    Japan    Solar Propulsion              49         1338.41                 74.00            207.06
11  Germany  Nuclear Propulsion              48         1002.73                 76.31            189.77
13  Germany    Solar Propulsion              46         1102.04                 75.80            211.11